<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">

	<!-- wp:pattern {"slug":"postfolio-blocks/hero-home"} /-->

	<!-- wp:pattern {"slug":"postfolio-blocks/post-grid-cards"} /-->

	<!-- wp:pattern {"slug":"postfolio-blocks/cta-newsletter"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
