<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--50)"><!-- wp:columns {"align":"wide","className":"postfolio-sidebar-layout","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|60"}}}} -->
<div class="wp-block-columns alignwide postfolio-sidebar-layout"><!-- wp:column {"width":"68%","style":{"spacing":{"blockGap":"var:preset|spacing|40"}}} -->
<div class="wp-block-column" style="flex-basis:68%"><!-- wp:template-part {"slug":"post-meta","tagName":"div"} /-->

<!-- wp:post-featured-image {"aspectRatio":"16/9","style":{"border":{"radius":"1.25rem"}}} /-->

<!-- wp:post-content {"layout":{"type":"default"}} /-->

<!-- wp:pattern {"slug":"postfolio-blocks/post-footer"} /-->

<!-- wp:template-part {"slug":"comments","tagName":"section","className":"postfolio-comments-area"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"32%"} -->
<div class="wp-block-column" style="flex-basis:32%"><!-- wp:template-part {"slug":"sidebar","tagName":"aside","area":"uncategorized"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide" style="margin-bottom:var(--wp--preset--spacing--50)"><!-- wp:pattern {"slug":"postfolio-blocks/related-posts"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
